<div class="sidebar">
  <div class="logo">CIPHERA</div>
  <ul>
    <li><a href="index.html"><span class="icon"><i class="fas fa-gauge-high"></i></span>Dashboard</a></li>
    <li class="has-submenu">
      <a href="#"><span class="icon"><i class="fas fa-database"></i></span>Data</a>
      <ul>
        <li><a href="#"><span class="icon"><i class="fas fa-map-marker-alt"></i></span>Location</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-phone"></i></span>Call Log</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-comment"></i></span>Messages</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-comments"></i></span>IMs</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-address-book"></i></span>Contacts</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-key"></i></span>Key Logs</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-phone-volume"></i></span>VoIP</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-file-audio"></i></span>VoIP Recordings</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-envelope"></i></span>Emails</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-camera"></i></span>App Screenshots</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-image"></i></span>Photos</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-video"></i></span>Videos</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-volume-up"></i></span>Ambient</a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-chart-line"></i></span>App Activity</a></li>
      </ul>
    </li>
    <li><a href="#"><span class="icon"><i class="fas fa-bell"></i></span>Alerts</a></li>
    <li><a href="#"><span class="icon"><i class="fas fa-comment-alt"></i></span>Spoof SMS</a></li>
    <li><a href="#"><span class="icon"><i class="fas fa-file-alt"></i></span>Reports</a></li>
  </ul>
</div>